<div class="page-header">
  <h1>Add a New Actor</h1>
</div>

<div class="row">
  <div class="col-md-6">

    <%= form_tag actors_path, :method => :post do %>

      <div class="form-group">
        <%= label_tag :name %>
        <%= text_field_tag :name, "", class: 'form-control', placeholder: 'Enter actor name here' %>
      </div>

      <div class="form-group">
        <%= label_tag :gender %>
        <%= text_field_tag :gender, "", class: 'form-control', placeholder: "Enter gender here" %>
      </div>

      <div class="form-group">
        <%= label_tag :country %>
        <%= text_field_tag :country, "", class: 'form-control', placeholder: "Enter country here" %>
      </div>
      

      <div class="form-group">
        <%= label_tag :bio %>
        <%= text_field_tag :bio, "", class: 'form-control', placeholder: "Enter country here" %>
      </div>

      <div class="form-group">
        <%= label_tag :photo_url %>
        <%= text_field_tag :photo_url, "", class: 'form-control', placeholder: "Enter photo_url here" %>
      </div>

      <%= hidden_field_tag :movie_id, @movie.id %>

      <%= submit_tag 'Add Actor', class: 'btn btn-default' %>
    <% end %>
    <br>
    <br>

  </div>
</div>

