<div class="page-header">
  <% if @movie %>
  <h1>Add a New Comment</h1>
  <% elsif @group %>
  <h1>Add a New Topic</h1>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">

    <%= form_tag comments_path do %>

      <div class="form-group">
        <%= label_tag :title %>
        <%= text_field_tag :title, "", class: 'form-control', placeholder: 'Enter title here' %>
      </div>

      <div class="form-group">
        <%= label_tag :content %>
        <%= text_area_tag :content, "", :rows => 6, class: 'form-control', placeholder: "Enter content here" %>
      </div>


      <% if @movie %>
      <%= hidden_field_tag :movie_id, @movie.id %>
      <%= submit_tag 'Add Comment', class: 'btn btn-default' %>
      <% elsif @group %>
      <%= hidden_field_tag :group_id, @group.id %>
      <%= submit_tag 'Post Topic', class: 'btn btn-default' %>
      <%end%>

      
    <% end %>
    <br>
    <br>

  </div>
</div>

