<div class="page-header">
  <h1>Add a New Movie</h1>
</div>

<div class="row">
  <div class="col-md-6">

    <%= form_tag movies_url, :method => 'post' do %>

      <div class="form-group">
        <%= label_tag :title %>
        <%= text_field_tag :title, "", class: 'form-control', placeholder: 'Enter movie title here' %>
      </div>

      <div class="form-group">
        <%= label_tag :year %>
        <%= text_field_tag :year, "", class: 'form-control', placeholder: "Enter year here" %>
      </div>

      <div class="form-group">
        <%= label_tag :duration %>
        <%= text_field_tag :duration, "", class: 'form-control', placeholder: "Enter duration here" %>
      </div>

      <div class="form-group">
        <%= label_tag :poster_url %>
        <%= url_field_tag :poster_url, "", class: 'form-control', placeholder: 'Enter URL to a movie poster image' %>
      </div>

      <div class="form-group">
        <%= label_tag :official_website %>
        <%= text_field_tag :official_website, "", class: 'form-control', placeholder: "Enter official_website here" %>
      </div>
      

      <div class="form-group">
        <%= label_tag :plot %>
        <%= text_field_tag :plot, "", class: 'form-control', placeholder: "Enter plot here" %>
      </div>
      <% if @director %>
      <%= hidden_field_tag :director_id, @director.id %>
      <% elsif @actor %>
      <%= hidden_field_tag :actor_id, @actor.id %>
      <%end%>

      <%= submit_tag 'Add Movie', class: 'btn btn-default' %>
    <% end %>
    <br>
    <br>

  </div>
</div>

